*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grey: #6D6D6D;
    --black: #000;
    --primary-color-main:#141922;
    --primary-color-footer: #282828;
    --cta-color:#090B13;
}

html{
    font-family: 'Open Sans', sans-serif;
}

footer{
    height: 100px;
}

main{
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

aside{
    width: 50px;

}

.content{
    width: calc(100% - 50px);
}

.cover-list{
    list-style: none;
}

.cover-item{
    padding: 20px;
    width: 50%;
}

#cta{
    position: fixed;
    top: 0;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.4);
    width: calc(100% - 50px);
}

.content-nav{
    margin-top: 80px;
}

.cover-container{
    margin: 20px;
}


.sidebar-top{
    height: calc(100% - 100px);
    overflow-y: hidden;
    color: var(--black);
}

.sidebar-bottom{
    height: 100px;
    padding: 5px;
    
}

.sidebar{
    min-height: 400px;
}

.sidebar .playlist-main ul{
    overflow: scroll;

}

.sidebar .sidebar-top{
    display: flex;
    flex-direction: column;
}

.nav-main{
    margin-top: 1rem;
}

.nav-main img{
    height: 35px;  
    vertical-align: middle;
}

.nav-main a{
    display: inline-block;
  
}

.nav-main .label{
    display: none;
}

.logo .label{
    display: none;
}

.sidebar .playlist-main{
    display: none;
}

.sidebar-top .logo{
    width: 100%;
}

.logo img{
    width: 90%;
    padding: 3px;
}

ul > li{
    list-style: none;
    padding-bottom: 5px;
}

.img-download{
    width: 50%;
    margin-top: 10px;
}

.img-user{
    width: 80%;
    margin-top: 5px;
    object-fit: cover;
    border-radius: 100%;
    background-color: var(--grey);
}

.special-hr{
    display: none;
}

.playlist-main{
    margin-top: 7px;
}

.bottom-list .label{
    display: none;
    vertical-align: middle;
}

.btn{
    background-color: var(--black);
    border: 3px solid white;
     padding: 10px 25px;
    border-radius: 100px;
}

.btn-cta{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

/* UTILITY */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.overflow-scroll{
    overflow-y: scroll;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.p-5{
   padding: 5px;
}

.grey-txt{
    color: var(--grey);
}

.white-txt{
    color: white;
}



/* DEBUG */

.debug .content{
    background-color: pink;
}

.debug main{
    background-color: black;

}


.debug footer{
    background-color: grey;
}

.debug .content-nav{
    background-color:aqua;
    height: 50px;
}

.debug .cover-container{
  height: 200px;
  background-color: aliceblue;
}

.debug .cover-list{
    border: dashed 2px black;
}

.img-sidebar{
    background-color: black;
}


.deco-none{
    text-decoration: none;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {

    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 200px);
    }
    
    #cta{
        width: calc(100% - 200px);
        left: 200px;
    }

    .sidebar .playlist-main{
        display: flex;
        flex-direction: column;
    }
    .sidebar .playlist-main{
        overflow-y: hidden;
    
    }
    
    .sidebar .playlist-main{
        overflow: hidden;
    
    }
    
    .sidebar .sidebar-top{
        overflow: hidden;
    }
    
    .sidebar .playlist-main ul{
        overflow: scroll;
    
    }
    .nav-main .label{
        vertical-align: middle;
        display: inline-block;
    }

    .logo{
        text-align: left;
    }

    .logo .img-logo{
        width: 30%;
    }

    .logo .label{
        vertical-align: middle;
        display: inline;
    }
    .logo .img-logo{
        vertical-align: middle;

    }
    .logo-txt{
        font-size: 30px;
        font-weight: 700;
        color: white;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .playlist-main{
        text-align: left;
        padding-left: 15px;
    }

    .playlist-main h3{
        color: white;
        padding-bottom: 5px;
        vertical-align: middle;
    }

    .fa-plus{
        font-size: 20px;
        background-color: lightgrey;
        color: black;
        vertical-align: middle;
        padding: 10px;
    }

    ul .bottom-list{
        display: inline;
        list-style: none;
    }

    .img-download{
        width: 10%;
        margin-top: 5px;
        vertical-align: middle;
    }
    
    .img-user{
        width: 20%;
        margin-top: 5px;
        object-fit: cover;
        border-radius: 100%;
        background-color: var(--grey);
        vertical-align: middle;
    }

    .bottom-list .label{
        display: inline;
        vertical-align: middle;
    }

    .special-hr{
        display: block;
    }


}

@media screen and (min-width: 768px) {

    .cover-item{
        width: 25%
    }
    
}

@media screen and (min-width: 992px) {

    .cover-item{
        width: calc(100% / 6)
    }
    
}

